#articles {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

#article {
    display: flex;
    gap: 1rem;
}

.article-infos h2 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 12px;
}

.article-infos h3 {
    font-size: 20px;
    font-weight: 400;
    color: #8695A4;
    padding-bottom: 16px;
}

